<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>POL</key>
	<dict>
		<key>language</key>
		<string>Język</string>
		<key>options</key>
		<string>Opcje</string>
		<key>sound</key>
		<string>Dźwięki</string>
		<key>music</key>
		<string>Muzyka</string>
		<key>done</key>
		<string>Gotowe</string>
		<key>play</key>
		<string>Graj</string>
		<key>scores</key>
		<string>Punktacja</string>
		<key>credits</key>
		<string>Info</string>
		<key>back</key>
		<string>Powrót</string>
		<key>points</key>
		<string>Punkty</string>
		<key>life</key>
		<string>Życie</string>
		<key>time</key>
		<string>Czas</string>
		<key>winner</key>
		<string>Wygrany</string>
		<key>name</key>
		<string>Imie</string>
		<key>tapToRestart</key>
		<string>Restart Gry</string>
		<key>gameOver</key>
		<string>Koniec Gry</string>
	</dict>
	<key>ENG</key>
	<dict>
		<key>language</key>
		<string>Language</string>
		<key>options</key>
		<string>Options</string>
		<key>sound</key>
		<string>Sound</string>
		<key>music</key>
		<string>Music</string>
		<key>done</key>
		<string>Done</string>
		<key>play</key>
		<string>Play</string>
		<key>scores</key>
		<string>Scores</string>
		<key>credits</key>
		<string>Credits</string>
		<key>back</key>
		<string>Back</string>
		<key>points</key>
		<string>Points</string>
		<key>life</key>
		<string>Life</string>
		<key>time</key>
		<string>Time</string>
		<key>winner</key>
		<string>Winner</string>
		<key>name</key>
		<string>Name</string>
		<key>tapToRestart</key>
		<string>Tap to Restart</string>
		<key>gameOver</key>
		<string>Game Over :(</string>
	</dict>
</dict>
</plist>
